@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@600&family=Maitree:wght@600&family=Roboto+Slab:wght@600&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    overflow-x: hidden;
}
#content {
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    overflow: hidden;
    width: 100%;
}
header {
    background: url("../images/bg_header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 46.2vw;
    width: 100%;
    z-index: 2;
    object-fit: cover;
}
.button {
    cursor: pointer;
}
.button:hover {
    filter: brightness(115%);
}
/*-- Header --*/
.navbar {
    display: flex;
    background: rgb(0, 0, 0, 0.5);
    height: 7vw;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    left: 0;
    max-height: 120px;
}
.navbar a {
    text-decoration: none;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transform: translateX(0);
}
.header-left {
    display: flex;
    justify-content: center;
    gap: 15%;
    width: 100%;
}
#logo {
    width: 28%;
}
.header-left a:hover,
.header-right a:hover {
    color: #f1f3b5;
}
.navbar img {
    width: 30%;
    align-self: flex-start;
}
.header-right {
    display: flex;
    justify-content: center;
    gap: 15%;
    width: 100%;
}
/*-- Content --*/
.main {
    width: 100vw;
}
.bg-content {
    background: url(../images/bg_content.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.container-content {
    
    max-width: 1150px;
}
/*-- Button-Group --*/
.dowload-btn img:hover {
    content: url('../images/active.png');
}
.btn-group button {
    display: flex;
    align-items: center;
    width: 100%;
}
.btn-group p {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 12px;
    color: white;
}
/*-- Banner --*/
#news-mobi .flickity-page-dots,
.banner .flickity-page-dots {
    bottom: 2.5% !important;
    text-align: right !important;
}
#news-mobi .flickity-page-dots .dot,
.banner .flickity-page-dots .dot {
    width: 15px !important;
    height: 15px !important;
    background-color: white !important;
    opacity: 1 !important;
    border-radius: 5% !important;
    transform: rotate(45deg) !important;
    border: 1px solid #697796;
}
#news-mobi .flickity-page-dots .dot.is-selected,
.banner .flickity-page-dots .dot.is-selected {
    background-image: url(../images/bxs--square.svg) !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: .7rem .7rem;
}
.title-lib {
    width: 94%;
    display: flex;
    justify-self: flex-end;
}
.game-img {
    margin-top: 7%;
    width: 100%;
    height: 197px;
}
.btn-left-group button p:hover {
    color: #f1f3b5;
}
/*-- News --*/
.paginationjs {
    display: flex;
    line-height: 1.6;
    font-family: 'Maitree', serif;
    font-size: 30px;
    box-sizing: initial;
    justify-content: center;
    margin-top: 25px;
}
.paginationjs:after {
    display: table;
    content: " ";
    clear: both;
}
.paginationjs .paginationjs-pages li {
    float: left;
    border: 1.5px solid #385a54;
    list-style: none;
    border-radius: 3px;
    margin-left: 1vw;
}
.paginationjs .paginationjs-pages li > p {
    width: 45px;
    height: 45px;
    font-weight: 500;
    display: block;
    font-size: 30px;
    color: #385a54;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.paginationjs .paginationjs-pages li > p:hover {
    color: white;
    background: #385a54;
}
.paginationjs .paginationjs-pages li > p {
    cursor: pointer;
}
.board-select {
    background-image: url(../images/new_board.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    object-fit: cover;
    padding: 3% 4% 5% 22.5%;
}
.board-select h6 {
    font-family: 'Maitree', serif;
    font-weight: 800;
    font-size: 30px;
    color: #385a54;
    text-transform: uppercase;
    text-align: center;
}
.board-info p {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 25px;
    color: #385a54;
    cursor: pointer;
}
.board-info div:hover {
    margin-left: 10px;
    transition: 80ms;
}
.board-button {
    padding-top: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board-button img {
    width: 12vw;
}
#news-head-page button img,
.news-board button img {
    visibility: hidden;
}
#tin-tuc,
#su-kien,
#tinh-nang,
#huong-dan {
    width: 100%;
}
/*-- Sect --*/
.carousel-cell {
    display: flex;
    width: 100%;
    justify-content: center;
}
#sect .carousel .carousel-cell img {
    width: 1000px;
    height: 450px;
}
#line {
    bottom: -15px;
}
#sect .sect-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
#sect .sect-button p {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 18px;
    color: #385a54;
    line-height: 1.2;
}
#sect .sect-button img {
    width: 30%;
}
#sect .flickity-page-dots {
    display: flex;
    bottom: -50px;
    visibility: hidden;
}
#sect .flickity-page-dots .dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 5%;
    transform: rotate(45deg);
    border: 1px solid #385a54;
    background-image: url(../images/bxs--square-sect.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    display: flex;
    align-self: center;
    margin-bottom: 5px;
    visibility: hidden;
}
#sect .flickity-page-dots .dot.is-selected {
    visibility: visible;
}
#sect .flickity-page-dots li:nth-child(1) {
    margin-left: 15px;
}
#sect .flickity-page-dots li:nth-child(2) {
    margin-left: 53px;
}
#sect .flickity-page-dots li:nth-child(3) {
    margin-left: 47px;
}
#sect .flickity-page-dots li:nth-child(4) {
    margin-left: 53px;
}
#sect .flickity-page-dots li:nth-child(5) {
    margin-left: 52px;
}
#sect .flickity-page-dots li:nth-child(6) {
    margin-left: 59px;
}
#sect .flickity-page-dots li:nth-child(7) {
    margin-left: 65px;
}
#sect .flickity-page-dots li:nth-child(8) {
    margin-left: 60px;
}
#sect .flickity-page-dots li:nth-child(9) {
    margin-left: 60px;
}
#sect .flickity-page-dots li:nth-child(10) {
    margin-left: 64px;
}
#sect .flickity-page-dots li:nth-child(11) {
    margin-left: 63px;
}
#sect .flickity-page-dots li:nth-child(12) {
    margin-left: 59px;
}
#sect .flickity-page-dots li:nth-child(13) {
    margin-left: 54px;
}
#sect .flickity-page-dots li:nth-child(14) {
    margin-left: 51px;
}

/*-- Tin-tuc --*/
#news-board-btn-group {
    background-image: url(../images/bang-tin-tuc.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    object-fit: cover;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#news-board-btn-group  button{
    padding-top: 10px;
}
#news-board-select {
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    object-fit: contain;
}
#board-paginate {
    max-width: 900px;
}
#news-detail h1 {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 32px;
    color: #385a54;
}
#news-detail a {
    font-family: 'Maitree', serif;
    font-size: 15px;
    color: #385a54;
}
#detail-img p {
    font-family: 'Maitree', serif;
    font-size: 15px;
    color: #385a54;
}
/*-- Footer --*/
footer {
    max-width: 85vw;
    margin-top: 30vw;
}
footer p {
    font-family: 'Cabin Condensed', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}
#block18 {
    position: absolute;
    width: 18%;
    top: -2%;
    left: -3%;
}
#footer-logo {
    position: absolute;
    width: 26%;
    top: -13%;
    left: 15%;
}
#artboard {
    position: absolute;
    width: 16%;
    top: -2%;
    right: 25%;
}
/*-- Mobi --*/
#logo-mobi {
    display: none;
    width: 15%;
    margin-top: 1%;
    margin-left: 3%;
}
.mobi-btn {
    display: none;
}
.mobi-btn {
    width: 100%;
}
.banner-mobi {
    background: url(../images/board-mobi.png);
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 55vw;
    width: 100vw;
    display: none;
}
.banner-mobi-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
}
.banner-1 {
    margin-top: 10%;
}
.banner-2 {
    margin-top: 5%;
}
.banner-3 {
    margin-top: 12.75%;
}
.hamburger-btn {
    margin-right: 15px;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}
.hamburger-btn img {
    width: 100%;
}
.hamburger-menu {
    position: absolute;
    z-index: 1;
    top: 10vw;
    right: 0;
    background: rgb(0, 0, 0, 0.5);
    transition: 0.5s;
    overflow: auto;
    display: none;
}
.hamburger-menu ul {
    width: 100%;
}
.hamburger-menu li {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 8vw;
    border-bottom: 1px solid #a6a6a6;
}
.hamburger-menu li:hover {
    background: rgb(0, 0, 0, 1);
}
.hamburger-menu ul li a {
    color: #fff;
    width: 100%;
    font-size: 3vw;
    text-decoration: none;
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    padding: 0 1.5vw 0 1.5vw;
}
/*-- Side-Button --*/ 
.sidenav {
    position: fixed;
    z-index: 99;
    transition: 0.25s;
    background-image: url(../images/bg_right_nav.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    width: 220px;
    height: 625px;
    z-index: 9;
    top: 100px;
    right: -10px;
}
.sidenav a {
    position: absolute;
    top: 105px;
    left: -50px;
    z-index: 0;
}
.sidenav a img {
    width: 90px;
    height: 100px;
}
.sidenav img:hover {
    filter: brightness(115%);
}
.side-logo {
    padding: 90px 10px 8px 31px;
    width: 200px;
    height: 235px;
}
.side-btn {
    padding: 0px 15px 8px 32px;
    width: 205px;
    height: 60px;
}
/*-- News-Page --*/
#news-head-page {
    background-image: url(../images/bang-tin-tuc.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 7vw;
    justify-content: space-around;
}
#news-head-page h6 {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 25px;
    color: #385a54;
    text-transform: uppercase;
    text-align: center;
}
#news .news-btn-page p {
    font-size: 13px;
}
#news-board-page {
    background-image: url(../images/Rectangle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0 5% 3% 5%;
    margin-top: 5%;
}
#news-board-page #tin-tuc p {
    font-size: 22px;
}
#news-detail-board-page {
    background-image: url(../images/Rectangle.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 3% 5% 3% 5%;
    min-height: 150vw;
}
#news-detail-board-page h1 {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 25px;
    color: #385a54;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1.5px solid #385a54;
}
#news-detail-board-page p {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 20px;
    color: #385a54;
    text-align: left;
    margin-top: 1.5%;
}
#news-detail-board-page img {
    width: 100%;
    margin-top: 5%;
}
#news-detail-board-page span {
    font-family: 'Maitree', serif;
    font-weight: 600;
    font-size: 20px;
    color: #385a54;
    text-align: left;
}
.footer-mobi {
    display: none !important;
}
#footer-logo-mobi {
    width: 23vw;
    position: absolute;
    top: -25%;
}
#footer-block18-mobi {
    width: 16vw;
}
/*-- Responsive --*/
@media screen and (max-width: 1440px) {
    footer p {
        font-size: 22px;
    }
}
@media screen and (max-width: 1150px) {
    #news-head-page h6 {
        font-size: 20px;
    }
    #news-head-page {
        height: 9vw;
    }
    .navbar {
        height: 10vw;
    }
    .banner-mobi {
        display: flex;
    }
    .sect-button-group {
        display: none !important;
    }
    .navbar #logo {
        display: none;
    }
    .navbar #logo-mobi {
        display: block;
    }
    .mobi-btn {
        display: flex;
        margin-left: 2vw;
        gap: 2vw;
    }
    .header-left, .header-right {
        display: none;
    }
    .banner {
        display: none;
    }
    .sidenav {
        display: none;
    }
    #news-head-mobi {
        background-image: url(../images/bang-tin-tuc.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 3.5%;
        margin-right: 3.5%;
        justify-content: space-around;
        height: 10vw;
    }
    #news-mobi {
        background-image: url(../images/news-bg-mobi.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 5% 5% 8%;
        margin-right: 3.5%;
        margin-top: 5%;
        align-content: center;
    }
    #news-mobi .news-carousel {
        display: block;
        padding-top: 6%;
        width: 100%;
    }
    .board-select {
        all: unset;
    }
    #line {
        display: none;
    }
    .carousel .carousel-cell {
        border-bottom: 3px solid #385a54;
    }
    .hamburger-btn {
        display: block !important;
    }
    #sect .flickity-page-dots {
        display: none;
    }
    #img-1 {
        width: 80vw !important;
        height: auto !important;
    }
    #img-2 {
        width: 79.8vw !important;
        height: auto !important;
    }
    #img-3 {
        width: 76.3vw !important;
        height: auto !important;
    }
    #img-4 {
        width: 66.4vw !important;
        height: auto !important;
    }
    #img-5 {
        width: 66.4vw !important;
        height: auto !important;
    }
    #img-6 {
        width: 77.2vw !important;
        height: auto !important;
    }
    #img-7 {
        width: 70.3vw !important;
        height: auto !important;
    }
    #img-8 {
        width: 76vw !important;
        height: auto !important;
    }
    #img-9 {
        width: 72.9vw !important;
        height: auto !important;
    }
    #img-10 {
        width: 68.4vw !important;
        height: auto !important;
    }
    #img-11 {
        width: 71.6vw !important;
        height: auto !important;
    }
    #img-12 {
        width: 69.1vw !important;
        height: auto !important;
    }
    #img-13 {
        width: 68.2vw !important;
        height: auto !important;
    }
    #img-14 {
        width: 71.3vw !important;
        height: auto !important;
    }
    footer p {
        font-size: 1.8vw;
    }
}
@media screen and (max-width: 950px) {
    .news-btn-page {
        display: none;
    }
    .board-select h6 {
        font-size: 2vw;
    }
    .board-info p {
        font-size: 2.5vw;
    }
    .paginationjs .paginationjs-pages li > p {
        width: 3.5vw !important;
        height: 3.5vw !important;
        font-size: 2.5vw !important;
    }
    #news-board-page #tin-tuc p {
        font-size: 20px;
    }
    #news-detail-board-page h1 {
        font-size: 22px;
    }
    #news-detail-board-page p {
        font-size: 18px;
    }
    #news-detail-board-page span {
        font-size: 18px;
    }
}
@media screen and (max-width: 850px) {
    .footer-mobi {
        display: grid !important;
    }
    .footer-pc {
        display: none;
    }
    #news-head-page h6 {
        font-size: 15px;
    }
    #news-board-page #tin-tuc p {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 650px) {
    #news-detail-board-page h1 {
        font-size: 20px;
    }
    #news-detail-board-page p {
        font-size: 16px;
    }
    #news-detail-board-page span {
        font-size: 16px;
    }
    .hamburger-menu ul li a {
        font-size: 20px;
    }
}
@media screen and (max-width: 550px) {
    #news-detail-board-page h1 {
        font-size: 18px;
    }
    #news-detail-board-page p {
        font-size: 14px;
    }
    #news-detail-board-page span {
        font-size: 14px;
    }
    #news-detail-board-page {
        min-height: 160vw;
    }
}
@media screen and (max-width: 450px) {
    .paginationjs {
        margin-top: 2vw;
    }
    .board-select h6 {
        padding-top: 0;
    }
    #news-mobi .flickity-page-dots .dot.is-selected {
        background-size: 0.45rem 0.45rem 
    }
    #news-mobi .flickity-page-dots .dot {
        width: 10px !important;
        height: 10px !important;
    }
    #news-mobi .flickity-page-dots .dot {
        margin: 0 5px;
    }
    .board-info {
        margin-top: 1rem !important;
    }
    #news-head-page h6 {
        font-size: 2.5vw;
    }
    #news-detail-board-page h1 {
        font-size: 16px;
    }
    #news-detail-board-page p {
        font-size: 12px;
    }
    #news-detail-board-page span {
        font-size: 12px;
    }
    #news-detail-board-page {
        min-height: 200vw;
    }
    .hamburger-btn img {
        width: 70%;
    }
    .hamburger-menu ul li a {
        font-size: 18px;
    }
}
@media screen and (max-width: 350px) {
    #news-detail-board-page h1 {
        font-size: 14px;
    }
    #news-detail-board-page p {
        font-size: 10px;
    }
    #news-detail-board-page span {
        font-size: 10px;
    }
    #news-detail-board-page {
        min-height: 280vw;
    }
    .hamburger-menu ul li a {
        font-size: 14px;
    }
}
@media screen and (max-width: 250px) {
    #news-detail-board-page {
        min-height: 400vw;
    }
}